@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <h3 class="text-center prmCol font-weight-bolder">About Project</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">

            <h4 class="mb-3 text-center">Developer Details</h4>
            <table class="table table-bordered">
                <tr>
                    <th width="180px;">Submitted By: </th>
                    <td>Md. Golam Mostofa</td>
                </tr>
                <tr>
                    <th>ID: </th>
                    <td>1249807</td>
                </tr>
                <tr>
                    <th>Batch ID: </th>
                    <td>ESAD-CS/ACSL-A/40/01</td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>mmgk555@gmail.com</td>
                </tr>
                <tr>
                    <th>Exam No: </th>
                    <td>09</td>
                </tr>
                <tr>
                    <th>Application Name: </th>
                    <td><strong>MovieLog</strong> - a Online Movie Directory</td>
                </tr>
            </table>
            <h4 class="mb-3 mt-4 text-center">Project Details</h4>
            <ul type="square">
                <li><strong>Full Responsive:</strong> Bootstrap 4, jQuery, jQuery unobtrusive validation.</li>
                <li><strong>Async Operation:</strong> Used Ajax control along with Partial view.</li>
                <li><strong>Entity Framework 6 & MVC 5:</strong> Latest version of Entity Framework with CodeFirst Model using MVC 5. Multiple table with one-many relation</li>
                <li><strong>Authorization and Authentication;</strong> User can view data from MovieGo. But for Add new data od Edit Existing one they must Register first. User can Register to get Extendend feature and later they need to authenticate to get Access</li>
                <li><strong>Animation and Scroll Effect:</strong> Uses Animate.css and Wow js.</li>
                <li><strong>Paging, Searching & Shorting:</strong> Paging, searching and shorting operation with full asyncing loading</li>
            </ul>
        </div>
        <div class="col-md-6">

            <h4 class="mb-3 text-center">Project Thumbnail</h4>
            <div class="text-center mb-4 mt-2">
                <img class="img-fluid" src="~/Image/MovieL.PNG" />
            </div>
            
        </div>
    </div>
</div>
