
@{
    ViewBag.Title = "Main";
}





<section class="clean-block features">
    <div class="container">
        <div class="block-heading wow bounceIn">
            <h2 style="color:#3b99e0">Features</h2>
            <p>Here's the main features of This Application</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box wow slideInLeft">
                <i class="fa fa-star"></i>
                <h5>Bootstrap 4</h5>
                <p>Bootstrap 4.3, Jquery 3.4, font Awesome 4.7, Animation and Many more feature added</p>
            </div>
            <div class="col-md-5 feature-box wow slideInRight">
                <i class="fa fa-cube"></i>
                <h5>Ajax Control</h5>
                <p>Ajax feature added for Asynchronous Operation along with Partial view, Paging, Shorting and Searching</p>
            </div>
            <div class="col-md-5 feature-box wow slideInLeft">
                <i class="fa fa-phone"></i>
                <h5>Authorization & Authentication</h5>
                <p>User can Register to get Extendend feature and later they need to authenticate to get Access.</p>
            </div>
            <div class="col-md-5 feature-box wow slideInRight">
                <i class="fa fa-refresh"></i>
                <h5>All Browser Compatibility</h5>
                <p>Supported all Mordern Browser Included some Old browser like Internet Explorer</p>
            </div>
        </div>
    </div>
</section>



@section styles{
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}